@Model LojaVirtual.Models.Produto

<br />
<h2>Produto</h2>
<b>Codigo:@Model.Id</b><br />
<b>Nome:@Model.Nome</b><br />
<b>Descrição:@Model.Descricao</b><br />
<b>Valor:@Model.Valor.ToString("C")</b><br />